Repository amurdock/ystage: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier-eslint --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(stage): Initial implementation of the new stage command.
  package.json
  src/commands/index.js
  src/commands/run.js
  src/commands/stage/index.js
  src/commands/stage/stage.js
  src/index.js
  src/utils/workspace.js
  yarn.lock
Due: prettier --write, prettier-eslint --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix(stage): Fix logging of correct command.
  src/commands/stage/index.js
Due: prettier-eslint --write

fix(stage): Fix resolution of development dependencies.
  src/commands/stage/stage.js
Due: prettier-eslint --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix(stage): Switch back to using relative paths as absolute paths won't work in a docker container.
  src/commands/stage/stage.js
Due: prettier-eslint --write

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Configuration): fixed configuration for loglevel and path
  src/commands/stage/index.js
  src/commands/stage/stage.js
  src/middleware/configuration.js
  src/middleware/logger.js
  src/middleware/workspaces.js
Due: prettier-eslint --write

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(run): Include forwarded parameters for run command
  src/commands/run.js
Due: prettier-eslint --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md}
  prettier-eslint --write: any of: *.js
